@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@keyframes loader-slide {
  from {
    transform: translateX(100dvw);
  }
  to {
    transform: translateX(-100dvw);
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--color-body-bg);
  color: var(--color-body-fg);

  padding: var(--pad-1);

  font-family: "Manrope";
  font-weight: bold;

  margin: 0;
  width: 100%;
  height: 100%;

  overflow: hidden;
  overflow-x: auto;
}

body {
  gap: var(--pad-1);

  display: flex;
  flex-direction: row;
}

.splash {
  background-color: var(--color-splash-bg);
  color: var(--color-splash-fg);

  width: 100%;
  height: 100%;

  position: fixed;
  left: 0;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9;

  transition: all 0.5s ease-in-out;
}

.loader {
  font-size: 20dvw;
  opacity: 10%;
  animation: loader-slide 10s linear infinite forwards;
}

.area {
  display: flex;
  flex-direction: column;
  gap: var(--pad-1);
  flex: 1;
}

textarea {
  background-color: var(--color-input-bg);
  color: var(--color-input-fg);

  padding: var(--pad-2);

  border-radius: var(--br-2);

  border: none;

  font-family: "Martian Mono";
  font-size: 14px;
  font-weight: 400;

  height: 100%;

  margin-bottom: 10px;

  resize: none;
}

textarea:focus {
  background-color: var(--color-input-bg-focus);
  color: var(--color-input-fg-focus);
  outline: 3px solid var(--color-focus);
}

button,
a[role="button"] {
  background-color: var(--color-btn-bg);
  color: var(--color-btn-fg);

  padding: var(--pad-1);

  border-radius: var(--br-0);

  border: none;
  outline: none;
  font-family: "Manrope";
  font-weight: bold;
  font-size: 20px;

  white-space: nowrap;
  text-overflow: ellipsis;
}

button:hover,
a[role="button"]:hover {
  background-color: var(--color-btn-bg-hover);
  color: var(--color-btn-fg-hover);

  cursor: pointer;
}

button:active,
a[role="button"]:active {
  background-color: var(--color-btn-bg-active);
  color: var(--color-btn-fg-active);

  cursor: pointer;
}

button:disabled,
a[role="button"]:disabled {
  background-color: var(--color-btn-bg-disabled);
  color: var(--color-btn-fg-disabled);

  cursor: not-allowed;
}

a[role="button"] {
  text-decoration: none;
}

label {
  font-size: 18px;
}

*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track:hover,
*::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

*::-webkit-scrollbar-track {
  background-color: var(--color-input-scroll-track-bg);
  border-radius: 0 var(--br-2) var(--br-2) 0;
}

.code::-webkit-scrollbar-track {
  border-radius: 0 0 var(--br-3) var(--br-3);
}

body::-webkit-scrollbar-track {
  border-radius: var(--br-3);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-input-scroll-thumb-bg);
  border: 4px solid var(--color-input-scroll-thumb-fg);
  border-radius: var(--br-2);
}

*:focus::-webkit-scrollbar-track {
  background-color: var(--color-input-focus-scroll-track-bg);
}

*:focus::-webkit-scrollbar-thumb {
  background-color: var(--color-input-focus-scroll-thumb-bg);
  border: 4px solid var(--color-input-focus-scroll-thumb-fg);
}

.mode-switch {
  top: var(--pad-2);
  right: var(--pad-2);
  padding: var(--pad-2) !important;

  width: 150px;

  position: fixed;

  text-align: center;
}

.transformer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

button.open-presets {
  gap: var(--pad-2);
  padding: var(--pad-2);
  border-radius: var(--br-2);

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: 0;

  font-size: 16px;
}

button svg {
  fill: var(--color-btn-fg);
}

button:hover svg {
  fill: var(--color-btn-fg-hover);
}

button:active svg {
  fill: var(--color-btn-fg-active);
}

.modal {
  background-color: var(--color-modal-backdrop-bg);
  padding: var(--pad-0);

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 8;
}

.modal.closed {
  display: none;
}

.modal button.close {
  top: var(--pad-2);
  right: var(--pad-2);
  padding: var(--pad-2);

  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
}

.presets-container {
  padding: var(--pad-1);
  gap: var(--pad-2);
  border-radius: var(--br-1);

  background-color: var(--color-body-bg);

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  overflow-y: auto;
}

.presets-container:empty::after {
  content: "Empty\A (￣ρ￣)..zzZZ";
  display: block;
  position: absolute;
  text-align: center;
  white-space: pre;
  opacity: 50%;
  font-size: 20px;
  line-height: 40px;
  top: calc(50% - 40px);
}

.preset-item {
  padding: var(--pad-2);
  border-radius: var(--br-2);

  background-color: var(--color-input-bg);
  color: var(--color-input-fg);

  width: 100%;
}

.preset-item:hover {
  background-color: var(--color-input-bg-focus);

  cursor: pointer;
}

.preset-item .name {
  margin-bottom: var(--pad-2);

  font-size: 24px;
}

.preset-item .description {
  opacity: 0.8;
  font-weight: 600;
}

.preset-item .code {
  padding: var(--pad-2);
  margin-top: var(--pad-2);
  border-radius: var(--br-2);

  background-color: var(--color-code-bg);
  color: var(--color-code-fg);

  font-family: "Martian Mono";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  white-space: pre;

  overflow-x: auto;
}
