html {
  --color-main: hsl(0, 0%, 50%);

  --color-0: hsl(from var(--color-main) calc(h + 32) calc(s + 0.2) 99.99);
  --color-1: hsl(from var(--color-main) calc(h + 24) calc(s + 0.15) 88.88);
  --color-2: hsl(from var(--color-main) calc(h + 16) calc(s + 0.1) 77.77);
  --color-3: hsl(from var(--color-main) calc(h + 8) calc(s + 0.05) 66.66);
  --color-4: hsl(from var(--color-main) calc(h + 0) calc(s + 0) 55.55);
  --color-5: hsl(from var(--color-main) calc(h - 8) calc(s - 0.05) 44.44);
  --color-6: hsl(from var(--color-main) calc(h - 16) calc(s - 0.1) 33.33);
  --color-7: hsl(from var(--color-main) calc(h - 24) calc(s - 0.15) 22.22);
  --color-8: hsl(from var(--color-main) calc(h - 32) calc(s - 0.2) 11.11);
  --color-9: hsl(from var(--color-main) calc(h - 40) calc(s - 0.25) 0);
}

html[data-theme-tone="default"] {
  --color-main: hsl(300, 50%, 50%);
}

html[data-theme-tone="peach"] {
  --color-main: hsl(10, 50%, 50%);
}

html[data-theme-tone="plum"] {
  --color-main: hsl(240, 50%, 50%);
}

html[data-theme-tone="ocean"] {
  --color-main: hsl(190, 50%, 50%);
}

html[data-theme-mapping="dark"] {
  --color-0: hsl(from var(--color-main) calc(h - 40) calc(s - 0.25) 0);
  --color-1: hsl(from var(--color-main) calc(h - 32) calc(s - 0.2) 11.11);
  --color-2: hsl(from var(--color-main) calc(h - 24) calc(s - 0.15) 22.22);
  --color-3: hsl(from var(--color-main) calc(h - 16) calc(s - 0.1) 33.33);
  --color-4: hsl(from var(--color-main) calc(h - 8) calc(s - 0.05) 44.44);
  --color-5: hsl(from var(--color-main) calc(h + 0) calc(s + 0) 55.55);
  --color-6: hsl(from var(--color-main) calc(h + 8) calc(s + 0.05) 66.66);
  --color-7: hsl(from var(--color-main) calc(h + 16) calc(s + 0.1) 77.77);
  --color-8: hsl(from var(--color-main) calc(h + 24) calc(s + 0.15) 88.88);
  --color-9: hsl(from var(--color-main) calc(h + 32) calc(s + 0.2) 99.99);

  --toast-error: #970c2d;
  --toast-warning: #e09d00;
  --toast-info: #037758;
}

html[data-theme-mapping="light"] {
  --color-0: hsl(from var(--color-main) calc(h + 32) calc(s + 0.2) 95);
  --color-1: hsl(from var(--color-main) calc(h + 24) calc(s + 0.15) 85);
  --color-2: hsl(from var(--color-main) calc(h + 16) calc(s + 0.1) 75);
  --color-3: hsl(from var(--color-main) calc(h + 8) calc(s + 0.05) 65);
  --color-4: hsl(from var(--color-main) calc(h + 0) calc(s + 0) 55);
  --color-5: hsl(from var(--color-main) calc(h - 8) calc(s - 0.05) 45);
  --color-6: hsl(from var(--color-main) calc(h - 16) calc(s - 0.1) 35);
  --color-7: hsl(from var(--color-main) calc(h - 24) calc(s - 0.15) 25);
  --color-8: hsl(from var(--color-main) calc(h - 32) calc(s - 0.2) 15);
  --color-9: hsl(from var(--color-main) calc(h - 40) calc(s - 0.25) 5);

  --toast-error: #ef476f;
  --toast-warning: #ffd166;
  --toast-info: #06d6a0;
}

html[data-theme-mapping="custom"] {
  --color-0: hsl(from var(--color-main) calc(h + 32) calc(s + 0.2) 95);
  --color-1: hsl(from var(--color-main) calc(h + 24) calc(s + 0.15) 85);
  --color-2: hsl(from var(--color-main) calc(h + 16) calc(s + 0.1) 75);
  --color-3: hsl(from var(--color-main) calc(h + 8) calc(s + 0.05) 65);
  --color-4: hsl(from var(--color-main) calc(h + 0) calc(s + 0) 55);
  --color-5: hsl(from var(--color-main) calc(h - 8) calc(s - 0.05) 45);
  --color-6: hsl(from var(--color-main) calc(h - 16) calc(s - 0.1) 35);
  --color-7: hsl(from var(--color-main) calc(h - 24) calc(s - 0.15) 25);
  --color-8: hsl(from var(--color-main) calc(h - 32) calc(s - 0.2) 15);
  --color-9: hsl(from var(--color-main) calc(h - 40) calc(s - 0.25) 5);

  --toast-error: #ef476f;
  --toast-warning: #ffd166;
  --toast-info: #06d6a0;
}

html {
  --color-body-bg: var(--color-0);
  --color-body-fg: var(--color-9);

  --color-modal-backdrop-bg: hsla(from var(--color-body-bg) h s 5 / 0.9);
  --color-code-bg: var(--color-0);
  --color-code-fg: var(--color-8);

  --color-splash-bg: var(--color-2);
  --color-splash-fg: var(--color-7);

  /* focus outline color */
  --color-focus: var(--color-5);

  /* input colors */
  --color-input-bg: var(--color-1);
  --color-input-fg: var(--color-8);
  --color-input-bg-focus: var(--color-2);
  --color-input-fg-focus: var(--color-8);
  --color-input-bg-hover: var(--color-2);
  --color-input-fg-hover: var(--color-8);
  --color-input-bg-active: var(--color-0);
  --color-input-fg-active: var(--color-9);

  /* input scrollbar colors */
  --color-input-scroll-track-bg: var(--color-input-bg);
  --color-input-scroll-track-fg: var(--color-input-bg);
  --color-input-focus-scroll-track-bg: var(--color-3);
  --color-input-focus-scroll-track-fg: var(--color-3);

  --color-input-scroll-thumb-bg: var(--color-6);
  --color-input-scroll-thumb-fg: var(--color-input-scroll-track-bg);
  --color-input-focus-scroll-thumb-bg: var(--color-8);
  --color-input-focus-scroll-thumb-fg: var(--color-input-focus-scroll-track-bg);

  /* button colors */
  --color-btn-bg: var(--color-3);
  --color-btn-fg: var(--color-9);
  --color-btn-bg-hover: var(--color-2);
  --color-btn-fg-hover: var(--color-8);
  --color-btn-bg-active: var(--color-9);
  --color-btn-fg-active: var(--color-0);
  --color-btn-bg-disabled: hsl(from var(--color-3) h 0 l);
  --color-btn-fg-disabled: hsl(from var(--color-9) h 0 l);

  /* padding levels */

  --pad-0: 50px;
  --pad-1: 20px;
  --pad-2: 10px;

  /* border-radius levels */

  --br-0: 50px;
  --br-1: 20px;
  --br-2: 10px;
  --br-3: 9px;
}

.theme-selector {
  position: absolute;
  top: 20px;
  right: 20px;

  padding: var(--pad-1);
  border-radius: var(--br-1);
  background-color: var(--color-1);

  gap: var(--pad-2);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.theme-selector.hidden {
  display: none;
}

.mapping-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: var(--pad-2);
  gap: var(--pad-1);

  border-radius: var(--br-0);

  position: relative;

  width: fit-content;

  margin-bottom: var(--pad-2);
}

.mapping-selector:hover {
  cursor: pointer;
}

.mapping-selector .icon {
  width: 32px;
  height: 32px;

  z-index: 2;

  fill: var(--color-0);
}

.mapping-selector .thumb,
.mapping-selector .track {
  position: absolute;
}

.mapping-selector .track {
  width: calc(100% - var(--pad-2));
  height: calc(100% - var(--pad-2));

  border-radius: var(--br-0);
  background-color: var(--color-3);
}

.mapping-selector .thumb {
  left: var(--pad-2);
  height: calc(100% - var(--pad-2) * 2);
  aspect-ratio: 1/1;
  width: auto;
  z-index: 1;
  border-radius: var(--br-0);
  background-color: var(--color-6);
}

html[data-theme-mapping="light"] .mapping-selector .thumb {
  left: var(--pad-2);
  transform: translateX(0);
}

html[data-theme-mapping="dark"] .mapping-selector .thumb {
  left: calc(100% - var(--pad-2));
  transform: translateX(-100%);
}

.tone-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--pad-2);

  text-align: center;
}

.tone-entry {
  padding: var(--pad-2);
  border-radius: var(--br-0);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--pad-2);

  background-color: var(--color-2);

  width: 100%;
}

.tone-entry.selected {
  outline: 3px solid var(--color-8);
}

.tone-entry:hover {
  cursor: pointer;
}

.tone-indicator {
  height: 20px;
  width: 20px;
  border-radius: var(--br-0);
  border: 3px solid var(--color-8);
}

.tone-label {
  margin-right: 5px;
}

button.open-theme-selector {
  position: absolute;
  top: 20px;
  right: 20px;
}

button.open-theme-selector.hidden {
  display: none;
}

.theme-selector button.close {
  top: calc(-1 * var(--pad-2)) !important;
  right: calc(-1 * var(--pad-2)) !important;
}
